---
- name: Copy netdata.conf
  template:
    src: netdata.conf.j2
    dest: /etc/netdata/netdata.conf
    owner: netdata
    group: netdata
    mode: 0600
  notify:
    - Restart Netdata
  become: true

- name: Copy stream.conf
  template:
    src: stream.conf.j2
    dest: /etc/netdata/stream.conf
    owner: netdata
    group: netdata
    mode: 0600
  notify:
    - Restart Netdata
  become: true

- name: Create cloud configuration directory
  file:
    path: /var/lib/netdata/cloud.d
    state: directory
    owner: "netdata"
    group: "netdata"
    mode: "0770"

- name: Copy cloud.conf
  copy:
    src: cloud.d/cloud.conf
    dest: /var/lib/netdata/cloud.d/cloud.conf
    owner: "netdata"
    group: "netdata"
    mode: "0770"
  notify:
    - "Restart Netdata"
